<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :storyline %><br>
    <%= f.text_area :storyline %>
  </div>
  <div class="field">
    <%= f.label :release %><br>
    <%= f.text_field :release, 'data-provide': :datepicker,
      'data-date-format': 'yyyy-mm-dd',
      'data-date': Date.today, 'data-autoclose': true %>
  </div>
  <div class="field">
    <%= f.label :imdb %><br>
    <%= f.url_field :imdb %>
  </div>

  <label> <%= t('.genre') %></label>
  <div class="field">
    <div>
      <%= link_to_add_association f, :genres %>
    </div>
    <%= f.fields_for :genres do |genre|%>
      <%= render 'genre_fields', f: genre %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </fieldset>
<% end %>
