<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Storyline:</strong>
  <%= @movie.storyline %>
</p>

<p>
  <strong>Release:</strong>
  <%= @movie.release %>
</p>

<p>
  <strong>Imdb:</strong>
  <%= @movie.imdb %>
</p>

<p>
  <strong>Genres:</strong>
  <%= genres_format @movie.genres %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
