// import the CSS framework
@import "bootstrap-sprockets";
@import "bootswatch/cyborg/variables";
@import "bootstrap";
@import "bootswatch/cyborg/bootswatch";

// apply styles to HTML elements
// to make views framework-neutral
form {
  &.search {
    @extend .navbar-form;
    @extend .navbar-left;

    input[type=text] {
      @extend .form-control;
    }
    button {
      @extend .btn;
      @extend .btn-default;
    }
  }

  &.new_movie,
  &.edit_movie {
    .field {
      @extend .form-group;

      input[type=text],
      input[type=url],
      textarea {
        @extend .form-control;
      }
    }

    input[type=submit] {
      @extend .btn;
      @extend .btn-primary;
    }

    #error_explanation {
      @extend .alert;
      @extend .alert-dismissible;
      @extend .alert-danger;
    }

    .nested-fields {
      @extend .col-md-2;
    }
    .actions {
      margin-top: 10px;
      clear: both;
    }
  }
}

table {
  @extend .table;
  @extend .table-striped;
}
main {
  @extend .container;
  margin-top: 51px; // accommodate the navbar
}

section {
  @extend .row;
}
