<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Movies Catalogue', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>

      <%= form_for :search, url: search_movies_path, method: :get, html: {class: :search} do |f| %>
        <%= f.text_field :q, placeholder: 'Search' %>
        <%= f.button :Go %>
      <% end %>
    </div>
  </div>
</nav>
